:root {
  --primary-color: #ffcc00; /* Gold/Yellow */
  --background-color: #f2f2f2; /* whitish */
  --text-color: ##4d4d4d; /* White */
}
a:hover, navbar-brand a.navbar-item:hover {
  color: var(--primary-color) !important;
  transition: all .5s;
}
a.navbar-item:hover{
  background-color: #fafafa2e;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
.logo-text{
  color: var(--text-color);
  font-size: 1.5em;
}
.black-text{
  color: var(--text-color);
}
.primary-text{
  color: var(--primary-color);
}

.hero {
  background-color: var(--background-color);
  color: var(--text-color);
}
.footer{
  background-color: #040404;
}

h1, h2, h3 {
  color: var(--primary-color);
}

.button.is-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.button.is-primary:hover {
  background-color: #e6b800; /* Slightly darker gold */
}

.hero-body {
  padding: 4em 2em;
}
.content{color:#4d4d4d}
.field.has-addons {
    display: flex;
    justify-content: flex-start;
    box-shadow: 2px 2px 20px #5d4e00;
}

.section h2 {
  color: var(--text-color);
  margin-bottom: 2em;
}

.columns .column.lander {
  margin-bottom: 1.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.25rem;
}

.footer p, .footer a {
  font-size: 1rem;
  background-color: #040404;
  color: var(--text-color);
}
