{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block description %}
    {{ article.description }}
{% endblock description %}

{% block custom_styles %}
    <style>
        .tool-item {
            transition: transform 0.2s;
        }

        .tool-item:hover {
            transform: translateY(-5px);
        }

        .card-image img {
            border-radius: 8px 8px;
            object-fit: cover;
            border: 1px solid #3273dc7a;
        }

        .content p {
            margin-bottom: 1rem;
            line-height: 1.6;
            font-size: 1.125rem;
        }

        .tag {
            margin-right: 5px;
        }

        .hero-section {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .hero-section h1 {
            font-weight: bold;
            color: #4a4a4a;
        }
        .sub-title{
            font-weight: 700;
            font-size: 1.3rem;
        }
            /* Featured Tools */
    
        .tool-image {
            height: 75px; }
    </style>
{% endblock custom_styles %}

{% block content %}


<section class="hero-section has-background-link-light">
    <div class="container">
        <h1>{{ article.title }}</h1>
        <img src="{{article.cover.url}}" alt="{{article.title}}">
        <p>{{ article.created_at }}</p>
        <div>{{ article.content|safe }}</div>
        
    </div>
</section>
<section class="section pb-0">
    <div class="container">   
    </div>
</section>

{% endblock content %}

{% block script %}
<!-- Add any JavaScript here if needed -->
{% endblock script %}
